* {
    font-family:  Cambria;
    font-size: 18px;
}

body {
    background-color: rgb(227, 211, 241);
}

main {
    background-color: white;
    width: 500px;
    margin: auto;
    padding: 10px;
    box-shadow:3px 3px 3px black;
}

h1 {
    font-size:20px;
}

h1, h2 {
    color:rgb(110, 65, 110);
}

a {
    text-decoration: none;
}